In [87]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import joblib

In [88]:
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [89]:
df['Platform'] = df['Platform'].astype('category')
df['Platform'] = df['Platform'].cat.codes

df['Genre'] = df['Genre'].astype('category')
df['Genre'] = df['Genre'].cat.codes

df['Publisher'] = df['Publisher'].astype('category')
df['Publisher'] = df['Publisher'].cat.codes

In [90]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,26,2006.0,10,359,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,11,1985.0,4,359,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,26,2008.0,6,359,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,26,2009.0,10,359,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,5,1996.0,7,359,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,6,2002.0,4,269,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,7,2003.0,8,241,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,16,2008.0,6,21,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,4,2010.0,5,8,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,6,2003.0,4,546,0.01,0.00,0.00,0.00,0.01

In [91]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher         0
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [92]:
df = df.dropna()

In [93]:
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [94]:
x = df[['Platform', 'Year',	'Genre', 'Publisher']]
x

       Platform    Year  Genre  Publisher
0            26  2006.0     10        359
1            11  1985.0      4        359
2            26  2008.0      6        359
3            26  2009.0     10        359
4             5  1996.0      7        359
...         ...     ...    ...        ...
16593         6  2002.0      4        269
16594         7  2003.0      8        241
16595        16  2008.0      6         21
16596         4  2010.0      5          8
16597         6  2003.0      4        546

[16327 rows x 4 columns]

In [95]:
y = df['Global_Sales']
y

0        82.74
1        40.24
2        35.82
3        33.00
4        31.37
         ...
16593     0.01
16594     0.01
16595     0.01
16596     0.01
16597     0.01
Name: Global_Sales, Length: 16327, dtype: float64

In [96]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state=30)

In [97]:
model = LinearRegression()

In [98]:
model.fit(x_train, y_train)

LinearRegression()

In [99]:
y_hat = model.predict(x_test)
y_hat

array([0.62389057, 0.65818246, 0.49703965, ..., 0.58823708, 0.76165462,
       0.4067908 ])

In [100]:
r2_score(y_test, y_hat)

0.010299696362680577

In [101]:
joblib.dump(model, 'LinearRegressionWithMultipleVariables.joblib')

['LinearRegressionWithMultipleVariables.joblib']

In [102]:
joblib.load('LinearRegressionWithMultipleVariables.joblib')

LinearRegression()